{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
{{form.as_p}}
    {% csrf_token %}
    <button name="" type="submit" value="Сохранить" class="btn btn-outline-success">Сохранить</button>
</form>
<div class="d-flex">
<button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" >Удаление</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
            Вы точно хотите удалить пост: "{{post.title}}"?
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bs-dismiss="modal" >Отменить</button>
                <form method="post" action="{% url 'delete' post.slug %}">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Удалить">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
