{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'images/logo2.png' %}">


</head>

{% block mainmenu %}

<nav>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img height="32" aria-label="Bootstrap" class="bi me-2" src="{% static 'images/logo2.png' %}" alt="Логотип">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% for m in mainmenu %}
                    {% if current_address == m.path %}
                        <li><a href="{% url m.url_name %}" class="nav-link px-2 link-secondary">{{m.name}}</a></li>

                    {% else %}
                        <li><a href="{% url m.url_name %}" class="nav-link px-2 link-body-emphasis">{{m.name}}</a></li>
                    {% endif %}
                {% endfor %}

                </ul>

                {% if not user.is_authenticated %}
                    <a href="{% url 'users:login' %}"><button type="button" class="btn btn-primary" data-bs-toggle="modal">Войти</button></a>
                {% else %}
                    <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if not user.photo %}
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="32" height="32" class="rounded-circle">
                                {% else %}
                                <img src="{{ user.photo.url }}" alt="" width="32" height="32" class="rounded-circle">
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item">{{user.username}}</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% for p in profile_menu %}
                                {% if not forloop.last %}
                                    <li><a class="dropdown-item" href="{% url p.url_name %}">{{p.name}}</a></li>
                                {% else %}
                                    <li><hr class="dropdown-divider"></li>
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <li><button type="submit" class="dropdown-item"> {{p.name}}</button></li>
                                    </form>
                                {% endif %}
                            {% endfor %}
                {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </header>

</nav>
{% endblock mainmenu %}

<body>
<div class="container">
{% block content%}

    {% endblock %}
</div>
</body>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img height="24" aria-label="Bootstrap" class="bi me-2" src="{% static 'images/logo2.png' %}" alt="Логотип">
      </a>
      <a href="{% url 'home' %}"><span class="mb-3 mb-md-0 text-body-secondary">© 2019-2024 GroundBeat Studio, Inc</span></a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="{% static 'images/telegram.png' %}"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="{% static 'images/vk.png' %}"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="{% static 'images/whatsapp.png' %}"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><img class="bi" width="24" height="24" src="{% static 'images/instagram.png' %}"></a></li>
    </ul>
  </footer>
</div>

</html>